/* Vos customisations des classes de Bootstrap */
.img {
    width: 100%;
    z-index: 0; 
}
.txthome{
    style=z-index: 1;position: absolute;top: 90px;
}

.navbar-dark{
    background-color: black;
}

.nav-link, h1, h2, h3{
    font-family: Arvo;
}