/* Vos customisations des classes de Bootstrap */

.navbar-dark{
    background-color: black;
}

.nav-link, h1, h2, h3{
    font-family: Arvo;
}

body{
    background-image: url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    background-color: red;
    padding-top: 100px;
    padding-bottom: 30px;
}

hr{
    width: 200px;
}

svgs{
    width: 40px;
    height: 40px;
}
#get-involved{
    background-color: rgb(205, 203, 203);
}

#who{
    background-color: white;
}

